
<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">
            {{ event.name }} - {{ user.name }}
        </h5>

        <input type="number" name="long" value={{ event.location.coordinates.[0] }}>
        <input type="number" name="lat" value={{ event.location.coordinates.[1] }}>
        {{!-- <p>{{ event.kind }} {{!--</p> --}}

        {{!-- Esto sólo se mostraría para usuarios --}}
        <div style="display: flex; justify-content: flex-start;" >
            <form action="/event/{{ event._id }}/update" method="post">
                    {{#if user.kind }}
                    <button type="submit" class="btn btn-sm btn-outline-success" data-confirm="Are you sure?" disabled>
                        Asistir
                    </button>
                    {{/if}}

            </form>
            <div style="display: flex; align-items:center; padding-left: 15px;">
                <div><h6> {{ event.totalSpectator }} / {{ event.maxSpectators }} </h6></div>
            </div>
        </div>
       
        {{!-- Edit and buttons in profile artist --}}
            <a href="/profile/{{ event.id }}/update" class="card-link text-warning">Edit</a>

            <hr>

            <form action="/profile/{{ event.id }}/delete" method="post">
                <button type="submit" class="btn btn-sm btn-outline-danger" data-confirm="Are you sure?">
                    Delete
                </button>
            </form>
        
    </div>
</div>

