
<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">
            {{ this.name }}
        </h5>



        {{!-- <p>{{ this.kind }}</p> --}}

        {{!-- Esto sólo se mostraría para usuarios --}}
        <form action="/events/{{ this._id }}/update" method="post">
            <button type="submit" class="btn btn-sm btn-outline-danger" data-confirm="Are you sure?">
                Asistir
            </button>
        </form>
       

        {{!-- Edit and buttons in profile artist --}}
        {{#if currentUser.kind}}
            <a href="/profile/{{ this.id }}/update" class="card-link text-warning">Edit</a>

            <hr>

            <form action="/profile/{{ this.id }}/delete" method="post">
                <button type="submit" class="btn btn-sm btn-outline-danger" data-confirm="Are you sure?">
                    Delete
                </button>
            </form>

        {{/if }}

    </div>
</div>
