
<div class="card mb-4" onmouseover="overEvent(evt)">
    <div class="card-body">
        <h5 class="card-title">
            {{ event.name }} - {{ user.name }}
        </h5>

        <input type="number" style="display:none" id="long1" name="long1" value={{ event.location.coordinates.[0] }}>
        <input type="number" style="display:none" name="lat1" value={{ event.location.coordinates.[1] }}>
        {{!-- <p>{{ event.kind }} </p> --}}

        {{!-- Esto sólo se mostraría para usuarios --}}
        <div style="display: flex; justify-content: flex-start;" >
            {{#if user.kind }}

            {{else }}
                <form action="/events/{{ event._id }}/update" method="post">
                    <button type="submit" class="btn btn-sm btn-outline-success" data-confirm="Are you sure?">
                        Asistir
                    </button>
                </form>            
            {{/if }}

            <div style="display: flex; align-items:center; padding-left: 15px;">
                <div><h6> {{ event.totalSpectator }} / {{ event.maxSpectators }} </h6></div>
            </div>
        </div>
       
        {{!-- Edit and buttons in profile artist --}}
        {{#if user.kind }}
            <a href="/profile/{{ event.id }}/update" class="card-link text-warning">Edit</a>
            <hr>

            <form action="/profile/{{ event.id }}/delete" method="post">
                <button type="submit" class="btn btn-sm btn-outline-danger" data-confirm="Are you sure?">
                    Delete
                </button>
            </form>
        {{/if }}

    </div>
</div>
